@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #04000d;
  background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 0 16px;
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #35bbd0 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.text-gradient-gtw {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #d3d3d3 0%, 
    #ffffff 100% 
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.text-gradient-wtb {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #d3d3d3 0%, 
    #35bbd0 100% 
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px #00ffff;
}

.icon-wrapper {
  transition: filter 0.3s ease-in-out;
}

.icon-wrapper:hover {
  filter: drop-shadow(0 0 5px #c3ced1) drop-shadow(0 0 10px #3f5455) drop-shadow(0 0 15px #d4e7e7);
}

/* Hide previous and next arrow buttons */
.slick-prev,
.slick-next {
    display: none !important;
}

/* Hide dots */
.slick-dots {
    display: none !important;
}



/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
